---
trust-domain: "taskgraph"
task-priority: low

taskgraph:
  cached-task-prefix: "taskgraph.v2.mozilla-taskgraph"
  repositories:
    mozilla_taskgraph:
      name: "mozilla-taskgraph"

workers:
  aliases:
    images:
      provisioner: '{trust-domain}-{level}'
      implementation: docker-worker
      os: linux
      worker-type: '{alias}-gcp'
    linux:
      provisioner: '{trust-domain}-t'
      implementation: docker-worker
      os: linux
      worker-type: '{alias}-gcp'
    succeed:
      provisioner: built-in
      implementation: succeed
      os: none
      worker-type: succeed

release-promotion:
  flavours:
    ship:
      target-tasks-method: ship-target-tasks
